<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{title.label}}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href=" {{ asset('css/home.back.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="">Titleator</a></li>
            </ul>    
        </nav>
        {% block body %}
            Hello world! Welcome to {{title.label}}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>